<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edaviessmith.mindcrack"
    android:versionCode="13"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application 
        android:name="com.edaviessmith.mindcrack.AppInstance"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/mindcrack" 
        android:theme="@style/AppTheme">
        
        <activity
            android:name="com.edaviessmith.mindcrack.Members"
            android:label="@string/mindcrack" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.edaviessmith.mindcrack.Reddit"
            android:label="@string/reddit" >
        </activity>
        
        <activity
            android:name="com.edaviessmith.mindcrack.YoutubePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/youtube_title" />
        
        
        <activity
            android:name="com.edaviessmith.mindcrack.Settings"
            android:label="@string/settings_title" />
        
        <activity
            android:name="com.edaviessmith.mindcrack.ManageMembers"
            android:label="@string/managemembers_title" />
        
        <activity
            android:name="com.edaviessmith.mindcrack.About"
            android:label="@string/about_title" />
        
        <receiver 
            android:name="com.edaviessmith.mindcrack.AlarmBroadcastReceiver"
            android:process=":remote">
            <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
    	</receiver>
        
        <service 
            android:name="com.edaviessmith.mindcrack.MemberActivityService" 
            android:label="Notification Listener"
            android:exported="false" />
        
    </application>

</manifest>
